/* import url font start */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* import url font end */

/* all setup start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
/* all setup end */

/* root main start */
:root {
  --bg-color: #1b1b1b;
  --second-bg: #2d2d2d;
  --text-color: #ececec;
  --color-main: #00ff66;
}
/* root main end */

/* set all body start */
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  background: var(--bg-color);
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
}
html::-webkit-scrollbar {
  width: 0.8rem;
}
html::-webkit-scrollbar-track {
  background: var(--bg-color);
}
html::-webkit-scrollbar-thumb {
  background: var(--color-main);
}
/* set all body end */

/* setup header start */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: rgba(0, 0, 0, 0.4);
  filter: drop-shadow(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 3rem;
  color: var(--color-main);
  font-weight: 800;
  transition: 0.3s ease;
  border-bottom: 2px solid transparent;
}
.logo:hover {
  transform: scale(1.1);
}
.navbar a {
  font-size: 1.8rem;
  color: rgb(149, 149, 149);
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3s ease;
  border: 3px solid transparent;
  border-radius: 20px;
  padding: 10px;
}
.navbar a:hover,
.navbar a.active {
  color: var(--color-main);
  border: 3px solid var(--color-main);
}
#main-menu {
  font-size: 3.6rem;
  color: var(--color-main);
  display: none;
}

/* setup responsive header start */
@media (max-width: 995px) {
  #main-menu {
    display: block;
  }
  .navbar {
    position: absolute;
    top: 100%;
    right: 0;
    width: 40%;
    border-left: 3px solid var(--color-main);
    border-bottom: 3px solid var(--color-main);
    border-bottom-left-radius: 2rem;
    padding: 1rem 3%;
    background-color: var(--second-bg);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.4);
    display: none;
  }
  .navbar .active {
    display: block;
  }
  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }
  .navbar a:hover,
  .navbar a.active {
    padding: 1rem;
    border-radius: 0.5rem;
    border-bottom: 0.5rem solid var(--color-main);
  }
}
/* setup responsive header end */
/* setup header end */

/* setup setion home start */
section {
  min-height: 100vh;
  padding: 5rem 9% 5rem;
}
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  background: var(--bg-color);
}
.home .home-content h1 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.3;
}
span {
  color: var(--color-main);
}
.home-image {
  border-radius: 50%;
}
.home-image img {
  position: relative;
  width: 32vw;
  border-radius: 50%;
  box-shadow: 0 0 25px var(--color-main);
  cursor: pointer;
  transition: 0.2s ease;
}
.home-image img:hover {
  transform: scale(1.01);
  filter: drop-shadow(0 0 25px var(--color-main));
}
.home-content p {
  font-size: 1.8rem;
  font-weight: 500;
}
.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--bg-color);
  border-radius: 4rem;
  font-size: 1.6rem;
  color: var(--color-main);
  border: 2px solid var(--color-main);
  letter-spacing: 0.1rem;
  transition: 0.3s ease;
  cursor: pointer;
  margin-top: 10px;
}
.btn:hover {
  transform: scale(1.03);
  background-color: var(--color-main);
  color: var(--second-bg);
  filter: drop-shadow(0 0 15px var(--color-main));
}
.social-icon a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid var(--color-main);
  font-size: 2rem;
  border-radius: 20%;
  color: var(--color-main);
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.3s ease;
}
.social-icon a:hover {
  color: var(--second-bg);
  transform: scale(1.3) translateY(-5px);
  background: var(--color-main);
  box-shadow: 0 0 25px var(--color-main);
}

/* setiup resposive section home start */
@media (max-width: 1000px) {
  .home {
    gap: 4rem;
  }
}
@media (max-width: 955px) {
  .home {
    flex-direction: column;
    margin: 5rem 4rem;
  }
  .home .home-content h1 {
    width: 70vw;
    margin-top: 4rem;
  }
}
/* setup responsive section home end */

/* setup section home end */

/* setup section digimon slider start */
.tranding {
  background: var(--second-bg);
}
.container {
  max-width: 132rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.section-heading {
  font-size: 3rem;
  color: var(--color-main);
  padding: 2rem 0;
}

#tranding {
  padding: 4rem 0;
}

@media (max-width: 1440px) {
  #tranding {
    padding: 7rem 0;
  }
}

#tranding .tranding-slider {
  height: 52rem;
  padding: 2rem 0;
  position: relative;
}

@media (max-width: 500px) {
  #tranding .tranding-slider {
    height: 45rem;
  }
}

.tranding-slide {
  width: 37rem;
  height: 42rem;
  position: relative;
}

@media (max-width: 500px) {
  .tranding-slide {
    width: 28rem !important;
    height: 36rem !important;
  }
  .tranding-slide .tranding-slide-img img {
    width: 28rem !important;
    height: 36rem !important;
  }
}

.tranding-slide .tranding-slide-img img {
  width: 37rem;
  height: 42rem;
  border-radius: 2rem;
  object-fit: cover;
}

.tranding-slide .tranding-slide-content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.tranding-slide-content .digimon-price {
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: var(--text-color);
}

.tranding-slide-content .tranding-slide-content-bottom {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  color: var(--text-color);
}
.digimon-price {
  color: rgb(200, 255, 0);
  font-size: 4rem;
}

.digimon-rating {
  padding-top: 1rem;
  display: flex;
  gap: 1rem;
}
.rating ion-icon {
  color: var(--text-color);
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.tranding-slider-control {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tranding-slider-control .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}

@media (max-width: 990px) {
  .tranding-slider-control .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
}

@media (max-width: 450px) {
  .tranding-slider-control .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
}

@media (max-width: 990px) {
  .tranding-slider-control .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

@media (max-width: 450px) {
  .tranding-slider-control .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}

.tranding-slider-control .slider-arrow {
  background: var(--color-main);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .slider-arrow ion-icon {
  font-size: 2rem;
  color: #222224;
}

.tranding-slider-control .slider-arrow::after {
  content: "";
}

.tranding-slider-control .swiper-pagination {
  position: relative;
  width: 15rem;
  bottom: 1rem;
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet-active {
  background: var(--second-bg);
}
/* setup section digimon slider end */

/* setup section timeline start */
.timeline {
  background: var(--bg-color);
}
.timeline h1 {
  font-size: 4rem;
}
.container-timeline {
  position: relative;
  max-width: 133rem;
  height: fit-content;
  margin: 80px auto;
}
.box-timeline {
  position: relative;
  width: 50%;
  padding: 1rem 3rem;
  opacity: 0;
  animation: animateBox 1s linear forwards;
}
@keyframes animateBox {
  0% {
    opacity: 1;
    transform: translateY(-25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.box-timeline:nth-child(2) {
  animation-delay: 0s;
}
.box-timeline:nth-child(3) {
  animation-delay: 1s;
}
.box-timeline:nth-child(4) {
  animation-delay: 2s;
}
.box-timeline:nth-child(5) {
  animation-delay: 3s;
}
.box-timeline:nth-child(6) {
  animation-delay: 4s;
}
.box-timeline:nth-child(7) {
  animation-delay: 5s;
}

.box-left {
  left: 0;
}
.box-right {
  left: 50%;
}
.box-timeline i {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 30px;
  width: 45px;
  height: 45px;
  right: -25px;
  border: solid 4px var(--color-main);
  background-color: var(--second-bg);
  border-radius: 50%;
  font-size: 20px;
  z-index: 2;
}
.box-right i {
  left: -25px;
}
.info-timeline {
  position: relative;
  padding: 2rem 3rem;
  border-radius: 10px;
  background-color: var(--second-bg);
}
.info-timeline h2 {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.info-timeline p {
  font-size: 14px;
  margin-bottom: 10px;
}
.info-timeline a {
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  color: var(--color-main);
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
}
.info-timeline a:hover {
  color: var(--second-bg);
  transform: scale(1.3) translateY(-5px);
  background: var(--color-main);
  box-shadow: 0 0 25px var(--color-main);
}

.info-timeline::after {
  content: "";
  position: absolute;
  top: 25px;
  width: 0;
  height: 0;
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
  border-left: 14px solid var(--second-bg);
  right: -13px;
}
.box-right .info-timeline::after {
  border-left: 0;
  border-right: 14px solid var(--second-bg);
  left: -13px;
}
.vertical-timeline {
  position: absolute;
  top: 0;
  left: 50%;
  width: 6px;
  height: 100%;
  border-radius: 2px;
  transform: translateX(-50%);
  background-color: var(--color-main);
  animation: animateLine 6s linear forwards;
}
@keyframes animateLine {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

@media screen and (max-width: 775px) {
  .container-timeline {
    margin: 40px auto;
  }
  .vertical-timeline {
    left: 60px;
  }
  .box-timeline {
    width: 100%;
    padding-left: 109px;
  }
  .box-left,
  .box-right {
    left: 0;
  }
  .box-timeline i {
    left: 35px;
  }
  .info-timeline::after {
    border-left: 0;
    border-right: 14px solid var(--second-bg);
    left: -13px;
  }
}

@media screen and (max-width: 500px) {
  .vertical-timeline {
    left: 40px;
  }
  .box-timeline {
    width: 100%;
    padding-right: 1.5rem;
    padding-left: 85px;
  }
  .box-timeline i {
    left: 15px;
  }
}
/* setup section timeline end */
